    <div id="attachments">
          <div id="attachments-toolbar">
            <%= link_to_function image_tag('admin/plus.png'), 'add_attachment()', :title => "Add attachment" %>
          </div>
        <h3 id="attachments-title">Attachments (<%= @page.attachments.count %>)</h3>
        <%= image('spinner.gif', :id => "attachments-spinner", :style => "display: none; float: right; margin: 5px;") %>
        <%= render :partial => "attachment", :collection => @page.attachments %>
    </div>